<script type="text/ng-template" id="ContributionStatusModalTmpl">

<div class="modal-header">
	<img alt="Close modal" class="close-modal" src="/extension/contentScript/app/images/close_x.png" ng-click="closeModal()" />
	<div class="modal-title">Contribution Status</div>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-sm-4">
			<h2 class="contribution-title">{{contributionStatusModel.title}}</h2>
			<h3 class="h5">Contribution Description:</h3>
			<div class="contribution-description">
				{{contributionStatusModel.file}}
			</div>
		</div>

		<div class="col-sm-5">

			<div class="big-data-items box-with-shadow">
				<div class="big-data-item">
					<div class="big-data-value">{{contributionStatusModel.currentValuation}}</div>
					<div class="big-data-label">Current Value</div>
				</div>
				<div class="big-data-item">
					<div class="big-data-value">{{contributionStatusModel.myValuation}}</div>
					<div class="big-data-label">My Evaluation</div>
				</div>
				<div class="big-data-item">
					<div class="big-data-value">{{contributionStatusModel.reputationDelta}}</div>
					<div class="big-data-label">My Reputation Profit/Loss</div>
				</div>
			</div>

			<div class="donut-charts box-with-shadow">
				<div class="donut-chart">
					<!--{{contributionStatusModel.myWeight}}-->
					<single-value-donut-chart donut-value="50" donut-color="#f9ac51"></single-value-donut-chart>
					<div>My reputation in the project</div>
				</div>
				<div class="donut-chart">
					<!--{{contributionStatusModel.groupWeight}}-->
					<single-value-donut-chart donut-value="70" donut-color="#6991bf"></single-value-donut-chart>
					<div>Total reputation invested in evaluating this contribution</div>
				</div>
			</div>

			<div class="box-with-shadow">
				<h4 class="box-with-shadow-title">Contribution Value in Chronological Order</h4>
				<svg id="visualisation" width="500" height="300"></svg>
			</div>

			<div class="box-with-shadow">
				<h4 class="box-with-shadow-title">Distribution of Reputation</h4>
				<svg id="visualisation_bar" width="500" height="300"></svg>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="box-with-shadow">
				<h4 class="box-with-shadow-title">Contributors</h4>
				<ul class="contributors-list">
					<li class="contributor" ng-repeat="contributionContributer in contributionStatusModel.contributionContributers">
						<img ng-src="{{contributionContributer.url}}" />
						{{contributionContributer.name}}
						{{contributionContributer.real_name}}
						{{contributionContributer.contributer_percentage}}%
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<table class="table table-bordered table-hover text-center">
				<thead>
					<tr>
						<th><img tooltip="Time at which the contribution was submitted" alt="help" src="/extension/contentScript/app/images/star.png"/></th>
						<th><img tooltip="Evaluation" alt="help" src="/extension/contentScript/app/images/tokens.png"/></th>
						<th><img tooltip="Weight" alt="help" src="/extension/contentScript/app/images/rep.png"/></th>
						<th><img tooltip="Value After Evaluation" alt="help" src="/extension/contentScript/app/images/heart.png"/></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bid in contributionStatusModel.bids">
						<td>{{bid.time_created | date:'yyyy-MM-dd HH:mm:ss'}}</td>
						<td>{{bid.tokens | number:0}}</td>
						<td>{{bid.reputation | number:0}}</td>
						<td>{{bid.contribution_value_after_bid}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal-footer">
	<div class="row"></div>
</div>

</script>