<script type="text/ng-template" id="ContributionStatusModalTmpl">
<div class="modal-header">
	<img alt="Close modal" class="close-modal" src="/extension/contentScript/app/images/close_x.png" ng-click="closeModal()" />
</div>
<div class="modal-body">
	<form>
		<div class="row">
			<div class="col-sm-12">
				<h2>{{cotributionStatusModel.title}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<legend>
					<i class="ion-ribbon-b"></i> Current Valuation:
					{{cotributionStatusModel.currentValuation}}
				</legend>
				<legend>
					<i class="ion-chatbox-working"></i> My estimate:
					{{cotributionStatusModel.myValuation}}
				</legend>
				<legend>
					<i class="ion-arrow-graph-up-right"></i> My Rep profit/loss: {{cotributionStatusModel.reputationDelta}}
				</legend>
				<legend>
					<i class="ion-mic-a"></i> My weight in the team: {{cotributionStatusModel.myWeight}}
				</legend>
				<legend>
					<i class="ion-speakerphone"></i> {{cotributionStatusModel.groupWeight}}% of the team evaluated this contribution
				</legend>
				<svg id="visualisation" width="500" height="300"></svg>
				<div id="chart"></div>
				<svg id="visualisation_bar" width="500" height="300"></svg>
				<h3>{{cotributionStatusModel.file}}</h3>	
				<table class="table table-bordered table-hover text-center">
					<thead>
						<tr>
							<th>URL</th>
							<th>Contributer Name</th>
							<th>Contributer Full Name</th>
							<th>Contributer Percentage</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="contributionContributer in cotributionStatusModel.contributionContributers">
							<td><img ng-src="{{contributionContributer.url}}" /></td>
							<td>{{contributionContributer.name}}</td>
							<td>{{contributionContributer.real_name}}</td>
							<td>{{contributionContributer.contributer_percentage}}%</td>
						</tr>
					</tbody>
				</table>			
			</div>
			<div class="col-sm-8">
				<table class="table table-bordered table-hover text-center">
					<thead>
						<tr>
							<th><img tooltip="Time at which the contribution was submitted" alt="help" src="/extension/contentScript/app/images/star.png"/></th>
							<th><img tooltip="Evaluation" alt="help" src="/extension/contentScript/app/images/tokens.png"/></th>
							<th><img tooltip="Weight" alt="help" src="/extension/contentScript/app/images/rep.png"/></th>
							<th><img tooltip="Value After Evaluation" alt="help" src="/extension/contentScript/app/images/heart.png"/></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="bid in cotributionStatusModel.bids">
							<td>{{bid.time_created | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>{{bid.tokens | number:0}}</td>
							<td>{{bid.reputation | number:0}}</td>
							<td>{{bid.contribution_value_after_bid}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>

	<div class="modal-footer">
		<div class="row"></div>		
	</div>
</div>
		</script>