.list-row {
  border-bottom: 1px solid #eee;

  &.active  { background-color: gray; }
}

.list-row-toggle {
  border-bottom: 1px solid #eee;
  background-color: gray;
}

.table-row {
  justify-content: space-between;
}