<!--<script type="text/ng-template" id="contributions-table-row.html">
  <div class="">
    <div class="heading">
      <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading">
        <span ng-class="{'text-muted': isDisabled}">{{heading}}</span>
      </a>
    </div>
    <div class="collapse" collapse="!isOpen" ng-transclude></div>
  </div>
</script>-->

<div class="contributions-table-row contributions-table-row-heading">
  <div>Contribution</div>
  <div>Date</div>
  <div>Current Value</div>
</div>

<accordion>
  <accordion-group ng-repeat="contribution in contributions">
    <!--the part that's being initially shown-->
    <accordion-heading>
      <div class="contributions-table-row">
        <div>{{ ::contribution.title }}</div>
        <div>{{ ::contribution.date | date:'d.M.yyyy' }}</div>
        <div>{{ ::contribution.valuation | number:0 }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-plus': is-open, 'glyphicon-chevron-minus': !is-open}"></i></div>
      </div>
    </accordion-heading>
    <!--the part that's hidden until the user clicks on the part that's being initially shown-->
    {{ ::contribution.description }}
    <ul class="list-inline contribution-contributors-list clearfix">
      <li ng-repeat="contributor in contribution.contributors" 
          ng-if="$index < 8"
          class="contributor-image">
          <a ui-sref="memberStatus({ memberId: contributor.memberId })">
            <img class="img-circle"  ng-src="{{ contributor.imgUrl }}" alt="Contributer photo" >
          </a>
      </li>
      <li ng-if="contribution.remainingContributors > 0"
          class="contributor-image">
        + {{ contribution.remainingContributors}}
      </li>
    </ul>

  </accordion-group>
</accordion>