<script type="text/ng-template" id="BidsModalTmpl">
   
<div class="modal-header">
		<img alt="Close modal" class="close-modal" src="/contentScript/app/images/close_x.png" ng-click="closeModal()" />
	</div>
	<div class="modal-body">
		<form>

			<div class="row">
				<div class="col-sm-12">
					<h2>Its Money Time</h2>
					<h6 id="createBidModalTitle">Home Many {{tokenName}}  does "{{title}}" worth to the holon?</h6>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="input-group">
						<input class="form-control" id="token" placeholder="talk to me in numbers" ng-model="bid.tokens" required />
						<span class="input-group-addon">{{code}}</span>
					</div>
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-sm-12">
				<button type="submit" class="btn btn-backfeed submit-button center-block" ng-disabled="!bid.tokens" ng-click="submit()">BACKFEED</button>
			</div>
		</div>
	</div>
</script>


