<script type="text/ng-template" id="MilestoneModalTmpl">

<div class="modal-header">
  <img alt="Close modal" class="close-modal" src="/extension/contentScript/app/images/close_x.png" ng-click="closeModal()" />
  <div class="modal-title">Lets Submit a New Milestone!</div>
</div>

<form name="form" ng-submit="submit()">

  <div class="modal-body">
    <div class="row">

      <div class="col-sm-7">

        <h2>
          Milestone
          <img tooltip="help message" alt="help" src="/extension/contentScript/app/images/icon_help.png">
        </h2> 

        <div class="form-group">
          <input type="text" class="form-control" required
                 placeholder="Title of milestone" ng-model="milestoneModel.title" />
          <label>Title</label>
        </div>

        <div class="form-group">
          <textarea class="form-control" required
                 placeholder="Describe the milestone" ng-model="milestoneModel.description"></textarea>
          <label>Content</label>
        </div>

        <contributions-table contributions="milestoneModel.contributions" active-contribution="activeContribution"></contributions-table>

      </div>  

      <div class="col-sm-5">
        <div class="milestone-total-value text-center">
          <div>
            <img class="milestone-total-value-icon" alt="Tokens" src="/extension/contentScript/app/images/tokens.png" />
            <span class="milestone-total-value-number">{{ totalValue }}</span>
            <span class="milestone-total-value-token">{{ tokenCode }}</span>
          </div>
          <span class="milestone-total-value-text">Value of all contributions</span>
        </div>

        <div class="milestone-contributers">
          <div class="milestone-contributers-header">
            <span class="milestone-contributers-header-text">
              Contributers ({{ contributersCount }})
            </span>
            <img alt="help" class="pull-right" src="/extension/contentScript/app/images/icon_help.png"
             tooltip="All contributers to current milestone" />
          </div>
          <ul class="media-list milestone-contributers-list">
            <li ng-repeat="contributer in milestoneModel.contributers" 
                class="milestone-contributers-list-item">
              <div class="media-left media-middle relative">
                <a href="#">
                  <img class="media-object" ng-src="{{contributer.url}}" alt=""/>
                  <span class="badge media-object-badge"> 
                    {{ contributer.contributer_percentage }}
                  </span>
                </a>
              </div>

              <div class="media-body">
                <h4 class="media-heading">{{contributer.real_name}}</h4>
              </div>
            </li>

          </ul>
        </div>
      </div>
      
    </div>
    
  </div>

  <div class="modal-footer">
    <div class="row">

      <div class="col-sm-5">
        <select ng-model="milestoneModel.evaluatingTeam">
          <option value="" selected="selected">Evaluating Team</option>
          <option ng-repeat="team in teams" value="{{ team.id }}">{{ team.channelName }}</option>
        </select>
      </div>
      
      <div class="col-sm-5">
        <button type="submit"
          class="btn btn-backfeed submit-button center-block"
          ng-disabled="form.$invalid || milestoneModel.evaluatingTeam === '' ">Submit Milestone</button>
      </div>
    </div>
  </div>

</form>


</script>