<script type="text/ng-template" id="MilestoneModalTmpl">

<div class="modal-header">
  <img alt="Close modal" class="close-modal" src="/extension/contentScript/app/images/close_x.png" ng-click="ctrl.closeModal()" />
  <div class="modal-title">Submit a New Milestone</div>
</div>

<form name="form" ng-submit="ctrl.submit()">

  <div class="modal-body row">

      <div class="col-sm-7">
        <h2>New Milestone
          <img alt="help" src="/extension/contentScript/app/images/icon_help.png"
               tooltip="When a project's members collectively decide the project reached a significant milestone, they have the option to bundle all the contributions made so far and post it as a single contribution to another, higher-level project."
               tooltip-placement="right" />
        </h2>

        <div class="form-group">
          <input type="text" 
                 class="form-control" 
                 required
                 placeholder="Name of the new milestone" 
                 ng-model="ctrl.milestone.title" />
          <label>Title</label>
        </div>

        <div class="form-group">
          <textarea class="form-control" 
                    required
                    placeholder="Describe the milestone" 
                    ng-model="ctrl.milestone.description"></textarea>
          <label>Content</label>
        </div>

        <contributions-table ng-if="ctrl.milestone.contributions.length > 0"
                             code="ctrl.milestone.code" 
                             contributions="ctrl.milestone.contributions"
                             active-contribution="ctrl.activeContribution"></contributions-table>

        <div class="alert alert-danger" 
             ng-show="ctrl.milestone.contributions.length === 0" 
             ng-cloak
             role="alert">You need to make contributions before you can submit a milestone.</div>
      </div>

      <div class="col-sm-5">
        <div class="stat">
          <div class="stat-item">
            <img class="stat-icon" alt="Tokens" src="/extension/contentScript/app/images/tokens.png" />
            <div class="stat-data">{{ ctrl.milestone.totalValue | number: 0 }} <small>{{ ctrl.code }}</small></div>
          </div>
          <div class="stat-label">Value of all contributions</div>
        </div>

        <div class="contributors box" ng-if="ctrl.milestone.contributors.length" ng-cloak>
          <contributors-list contributors="ctrl.milestone.contributors"></contributors-list>
        </div>
      </div>

  </div>

  <div class="modal-footer flex">
    <div class="milestone-destination-project">
      <select class="select-backfeed" ng-model="ctrl.milestone.evaluatingProject" required>
        <option value="" selected>Destination Project</option>
        <option ng-repeat="project in ctrl.projects" value="{{ project.id }}">{{ project.channelName }}</option>
      </select>
      <img alt="help" class="pull-right" src="/extension/contentScript/app/images/icon_help.png"
           tooltip="Choose the project you're submitting this milestone to." style="margin-left: 25px;"/>
    </div>
    <button type="submit" 
            class="btn btn-backfeed submit-button"
            ng-disabled="form.$invalid || ctrl.milestone.contributions.length === 0">Submit Milestone</button>
  </div>

</form>


</script>