<script type="text/ng-template" id="MilestoneModalTmpl">

<div class="modal-header">
  <img alt="Close modal" class="close-modal" src="/extension/contentScript/app/images/close_x.png" ng-click="closeModal()" />
  <div class="modal-title">Submit a New Milestone</div>
</div>

<form name="form" ng-submit="submit()">

  <div class="modal-body row">

      <div class="col-sm-7">

        <h2>
          New Milestone
          <img tooltip="When a project's members collectively decide the project reached a significant milestone, they have the option to bundle all the contributions made so far and post it as a single contribution to another, higher-level project." alt="help" src="/extension/contentScript/app/images/icon_help.png">
        </h2> 

        <div class="form-group">
          <input type="text" class="form-control" required
                 placeholder="Name of the new milestone" ng-model="milestoneModel.title" />
          <label>Title</label>
        </div>

        <div class="form-group">
          <textarea class="form-control" required
                 placeholder="Describe the milestone" ng-model="milestoneModel.description"></textarea>
          <label>Content</label>
        </div>

        <contributions-table contributions="milestoneModel.contributions" active-contribution="activeContribution"></contributions-table>

      </div>  

      <div class="col-sm-5">

        <div class="stat">
          <div class="stat-item">
            <img class="stat-icon" alt="Tokens" src="/extension/contentScript/app/images/tokens.png" />
            <div class="stat-data">{{totalValue | number:0}} <small>{{tokenCode}}</small></div>
          </div>
          <div class="stat-label">Value of all contributions</div>
        </div>

        <div class="contributers box">
          <contributers-list contributers="milestoneModel.contributers"
                             contributers-count="contributersCount"></contributers-list>
        </div>

      </div>

  </div>

  <div class="modal-footer flex">
    <div class="milestone-destination-project">
      <select class="select-backfeed" ng-model="milestoneModel.evaluatingTeam">
        <option value="" selected>Destination Project</option>
        <option ng-repeat="team in teams" value="{{ team.id }}">{{ team.channelName }}</option>
      </select>
      <img alt="help" class="pull-right" src="/extension/contentScript/app/images/icon_help.png"
           tooltip="Choose the project you're submitting this milestone to." style="margin-left: 25px;"/>
    </div>
    <button type="submit" class="btn btn-backfeed submit-button"
            ng-disabled="form.$invalid || milestoneModel.evaluatingTeam === ''|| milestoneModel.contributions <=0">Submit Milestone</button>
  </div>

</form>


</script>