.modal[size="add-milestone"] {
  &>.modal-dialog {
    width: 819px;

    .contributers {
      margin-top: 35px;
    }
  }
}


/********* Contributers *********/
.milestone-destination-project {
  display: flex;
  align-items: center;
}