<script type="text/ng-template" id="MemberStatusModalTmpl">
<div class="modal-header">
	<img alt="Close modal" class="close" src="/extension/contentScript/app/images/close_x.png" ng-click="closeModal()" />
	<h4 class="modal-title">{{memberStatus}} stats</h4>
</div>
<div class="modal-body">
	<form>

		<div class="row">
			<div class="col-sm-12">
				<div class="media pull-left">
					<div class="media-left">
						<a href="#">
							<img class="media-object img-circle" ng-src="{{memberStatusModel.url}}"  alt="" />
						</a>
					</div>
					<div class="media-body">
						<h1 class="member-name media-heading">{{memberStatusModel.fullName}}</h1>
						<svg-icon icon="slack"></svg-icon><span class="member-username">&nbsp;{{memberStatusModel.name}}</span>
					</div>
				</div>
				<div class="pull-right">
                    <select class="select-backfeed" name="projectSelection" ng-model="selectedProjectId" ng-change="updateTable();">
                        <option value="">All Projects</option>
                        <option ng-repeat="memberProject in memberProjects" value="{{memberProject.id}}">{{memberProject.channelName}}</option>
                    </select>
                </div>
			</div>
		</div>

		<div class="member-stats" ng-show="showTokens">
			<div class="stat member-stat">
				<div class="stat-item">
                    <img class="stat-icon" alt="Contribution" src="/extension/contentScript/app/images/contribution.png" />
                    <div class="stat-data">{{memberStatusModel.contributionLength | number:0}}</div>
				</div>
                <div class="stat-label">Contributions</div>
            </div>
			 <div class="stat member-stat">
                    <div class="stat-item">
                        <img class="stat-icon" alt="Tokens" src="/extension/contentScript/app/images/rep.png" />
                        <div class="stat-data">{{memberStatusModel.project_tokens | number:0}}&nbsp;<small>{{memberStatusModel.code}}</small></div>
                    </div>
                    <div class="stat-label">{{memberStatusModel.tokenName}}</div>
                </div>
			
			<div class="stat member-stat">
				<div class="stat-item">
                    <img class="stat-icon" alt="Reputation" src="/extension/contentScript/app/images/rep.png" />
                    <div class="stat-data">{{memberStatusModel.project_reputation | number:0}}&nbsp;<small>{{memberStatusModel.reputationPercentage | number:0}}%</small></div>
				</div>
                <div class="stat-label">Reputation</div>
            </div>
		</div>

		<div class="member-stats" ng-hide="showTokens">
			<div class="stat member-stat">
                <div class="stat-item">
                    <img class="stat-icon" alt="Contribution" src="/extension/contentScript/app/images/contribution.png" />
                    <div class="stat-data">{{memberStatusModel.contributionLength | number:0}}</div>
                </div>
                <div class="stat-label">Total Contributions</div>
            </div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<table class="table table-condensed table-hover contributions-table">
					<thead>
					<tr>
						<td nowrap>
							<a class="table-column-title" href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
								Contribution
								<svg-icon icon="caret-down" ng-show="sortType == 'title' && !sortReverse"></svg-icon>
								<svg-icon icon="caret-up" ng-show="sortType == 'title' && sortReverse"></svg-icon>
							</a>
						</td>
						<td nowrap>
							<a class="table-column-title" href="#" ng-click="sortType = 'cTime'; sortReverse = !sortReverse">
								Date
								<svg-icon icon="caret-down" ng-show="sortType == 'cTime' && !sortReverse"></svg-icon>
								<svg-icon icon="caret-up" ng-show="sortType == 'cTime' && sortReverse"></svg-icon>
							</a>
						</td>
						<td nowrap>
							<a class="table-column-title" href="#" ng-click="sortType = 'myWeight'; sortReverse = !sortReverse">
								Rep %
								<svg-icon icon="caret-down" ng-show="sortType == 'myWeight' && !sortReverse"></svg-icon>
								<svg-icon icon="caret-up" ng-show="sortType == 'myWeight' && sortReverse"></svg-icon>
							</a>
						</td>
						<td nowrap>
							<a class="table-column-title" href="#" ng-click="sortType = 'currentValuation'; sortReverse = !sortReverse">
								Current Value
								<svg-icon icon="caret-down" ng-show="sortType == 'currentValuation' && !sortReverse"></svg-icon>
								<svg-icon icon="caret-up" ng-show="sortType == 'currentValuation' && sortReverse"></svg-icon>
							</a>
						</td>
						<td nowrap>
							<a class="table-column-title" href="#" ng-click="sortType = 'reputationDelta'; sortReverse = !sortReverse">
								My Rep
								<svg-icon icon="caret-down" ng-show="sortType == 'reputationDelta' && !sortReverse"></svg-icon>
								<svg-icon icon="caret-up" ng-show="sortType == 'reputationDelta' && sortReverse"></svg-icon>
							</a>
						</td>
						<td nowrap>
							<a class="table-column-title" href="#" ng-click="sortType = 'tokenName'; sortReverse = !sortReverse">
								Token Name
								<svg-icon icon="caret-down" ng-show="sortType == 'tokenName' && !sortReverse"></svg-icon>
								<svg-icon icon="caret-up" ng-show="sortType == 'tokenName' && sortReverse"></svg-icon>
							</a>
						</td>
					</tr>
					</thead>

					<tbody>
						<tr ng-class="{'my-contribution-row': checkOwner(contribution.ownerId)}" ng-repeat="contribution in memberStatusModel.contributions | orderBy:sortType:sortReverse">
							<td><a href="" ng-click="goToStatusPage(contribution.id)">{{contribution.title}}</a></td>
							<td nowrap>{{contribution.cTime | date:'d.M.yyyy' }}</td>
							<td nowrap>{{contribution.myWeight}}</td>
							<td nowrap>{{contribution.currentValuation}}</td>
							<td nowrap>{{contribution.reputationDelta}}</td>
							<td nowrap>{{contribution.tokenName}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>

	<div class="modal-footer">
		<div class="row"></div>		
	</div>
</div>
		</script>