<script type="text/ng-template" id="MemberStatusModalTmpl">
<div class="modal-header">
	<img alt="Close modal" class="close" src="/extension/contentScript/app/images/close_x.png" ng-click="closeModal()" />
	<h4 class="modal-title">{{memberStatus}} stats</h4>
</div>
<div class="modal-body">
	<form>

		<div class="row">
			<div class="col-sm-12">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object img-circle" ng-src="{{memberStatusModel.url}}"  alt="" style="width: 50px;" />
						</a>
					</div>
					<div class="media-body">
						<h1 class="member-name media-heading">{{memberStatusModel.fullName}}</h1>
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 17.6 17.6" enable-background="new 0 0 17.6 17.6" xml:space="preserve" width="18px">
							<path fill="#231F20" d="M8.3,17.6c-0.6,0-1.1-0.4-1.3-0.9L2.5,3.7C2.3,3,2.7,2.2,3.4,2c0.7-0.3,1.5,0.1,1.8,0.9l4.5,12.9
								c0.3,0.7-0.1,1.5-0.9,1.8C8.6,17.6,8.5,17.6,8.3,17.6z"></path>
							<path fill="#231F20" d="M13.7,15.7c-0.6,0-1.1-0.4-1.3-0.9L8,1.8C7.7,1.1,8.1,0.3,8.8,0.1c0.7-0.3,1.5,0.1,1.8,0.9l4.5,12.9
								c0.3,0.7-0.1,1.5-0.9,1.8C14.1,15.7,13.9,15.7,13.7,15.7z"></path>
							<path fill="#231F20" d="M3.3,15.1c-0.6,0-1.1-0.4-1.3-0.9c-0.3-0.7,0.1-1.5,0.9-1.8L15.7,8c0.7-0.3,1.5,0.1,1.8,0.9
								s-0.1,1.5-0.9,1.8L3.7,15.1C3.6,15.1,3.4,15.1,3.3,15.1z"></path>
							<path fill="#231F20" d="M1.4,9.7c-0.6,0-1.1-0.4-1.3-0.9C-0.2,8,0.2,7.3,0.9,7l12.9-4.5c0.7-0.3,1.5,0.1,1.8,0.9
								c0.3,0.7-0.1,1.5-0.9,1.8L1.8,9.6C1.7,9.7,1.5,9.7,1.4,9.7z"></path>
						</svg><span class="member-username">&nbsp;{{memberStatusModel.name}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div> Select Project:
    				<select  name="projectSelection" ng-model="selectedProjectId" ng-change="updateTable();">
						<option value="-1">All Projects</option>
      					<option ng-repeat="memberProject in memberProjects" value="{{memberProject.id}}">{{memberProject.channelName}}</option>
    				</select></div>
			</div>
		</div>
		<div class="member-stats" ng-show="showTokens">
			<div class="member-stat">
				<img class="member-stat-icon" alt="Contribution" src="/extension/contentScript/app/images/contribution.png" />
				<div class="member-stat-item">
					<div class="member-stat-data">{{memberStatusModel.contributionLength | number:0}}</div>
					<div class="member-stat-label">Contributions&nbsp;<img tooltip="help message" alt="help" src="/extension/contentScript/app/images/icon_help.png"/></div>
				</div>
			</div>
			<div class="member-stat" >
				<img class="member-stat-icon" alt="Tokens" src="/extension/contentScript/app/images/tokens.png" />
				<div class="member-stat-item">
					<div class="member-stat-data">{{memberStatusModel.project_tokens | number:0}}</div>
					<div class="member-stat-label">Tokens&nbsp;<img tooltip="help message" alt="help" src="/extension/contentScript/app/images/icon_help.png"/></div>
				</div>
			</div>
			<div class="member-stat">
				<img class="member-stat-icon" alt="Reputation" src="/extension/contentScript/app/images/rep.png" />
				<div class="member-stat-item">
					<div class="member-stat-data">{{memberStatusModel.project_reputation | number:0}}&nbsp;<small>{{memberStatusModel.reputationPercentage | number:0}}%</small></div>
					<div class="member-stat-label">Reputation&nbsp;<img tooltip="help message" alt="help" src="/extension/contentScript/app/images/icon_help.png"/></div>
				</div>
			</div>
		</div>

		<div class="member-stats" ng-hide="showTokens">
			<div class="member-stat">
				<img class="member-stat-icon" alt="Contribution" src="/extension/contentScript/app/images/contribution.png" />
				<div class="member-stat-item">
					<div class="member-stat-data">{{memberStatusModel.contributionLength | number:0}}</div>
					<div class="member-stat-label">Total Contributions&nbsp;<img tooltip="help message" alt="help" src="/extension/contentScript/app/images/icon_help.png"/></div>
				</div>
			</div>			
		</div>

		<div class="row">
			<div class="col-sm-12">
				<table class="table table-condensed table-hover">
					<thead>
					<tr>
						<td>
							<a class="table-column-title" href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
								Contribution
								<span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
							</a>
						</td>
						<td>
							<a class="table-column-title" href="#" ng-click="sortType = 'cTime'; sortReverse = !sortReverse">
								Date
								<span ng-show="sortType == 'cTime' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'cTime' && sortReverse" class="fa fa-caret-up"></span>
							</a>
						</td>
						<td>
							<a class="table-column-title" href="#" ng-click="sortType = 'myWeight'; sortReverse = !sortReverse">
								Rep %
								<span ng-show="sortType == 'myWeight' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'myWeight' && sortReverse" class="fa fa-caret-up"></span>
							</a>
						</td>
						<td>
							<a class="table-column-title" href="#" ng-click="sortType = 'currentValuation'; sortReverse = !sortReverse">
								Current Value
								<span ng-show="sortType == 'currentValuation' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'currentValuation' && sortReverse" class="fa fa-caret-up"></span>
							</a>
						</td>
						<td>
							<a class="table-column-title" href="#" ng-click="sortType = 'reputationDelta'; sortReverse = !sortReverse">
								My Rep
								<span ng-show="sortType == 'reputationDelta' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'reputationDelta' && sortReverse" class="fa fa-caret-up"></span>
							</a>
						</td>
						<td>
							<a class="table-column-title" href="#" ng-click="sortType = 'tokenName'; sortReverse = !sortReverse">
								Token Name
								<span ng-show="sortType == 'tokenName' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'tokenName' && sortReverse" class="fa fa-caret-up"></span>
							</a>
						</td>
					</tr>
					</thead>

					<tbody>
						<tr ng-class="{'my-contribution-row': checkOwner(contribution.owner)}" ng-repeat="contribution in memberStatusModel.contributions | orderBy:sortType:sortReverse">
							<td><a href="" ng-click="goToStatusPage(contribution.id)">{{contribution.title}}</a></td>
							<td>{{contribution.cTime}}</td>
							<td>{{contribution.myWeight}}</td>
							<td>{{contribution.currentValuation}}</td>
							<td>{{contribution.reputationDelta}}</td>
							<td>{{contribution.tokenName}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>

	<div class="modal-footer">
		<div class="row"></div>		
	</div>
</div>
		</script>