<script type="text/ng-template" id="OrganizationsModalTmpl">
		
<div class="modal-header">
	<img alt="Close modal" class="close-modal" src="/contentScript/app/images/close_x.png" ng-click="closeModal()" />
</div>

<div class="modal-body">
	<form>
	<div class="row">
	<div class="col-sm-6">

		<p>Welcome {{userData.displayName}},</p>
		<h2>Let's create a new holon</h2>
		<!-- <button type="submit"  class="btn btn-default" ng-click='changeTeam()'>Change Team</button> -->
		<p>
			A holon is something that is<br />simultaneously a part and a whole
		</p>
		<br />
		<br />
		<p>
			Your holon has its own value units.<br />How would you like to name
			them?
		</p>

				
		<div class="form-group">
			<input type="text" class="form-control" id="tokenName" required
				placeholder="e.g. Pig Coins" ng-model="orgModel.token_name"
				 /> <label>Name</label>
			 
		</div>

		<div class="form-group">
			<input type="text" class="form-control" id="tokenCode" required
				placeholder="PiC" ng-model="orgModel.code"/> <label>Code</label>
		</div>

		<div class="form-group">
			<input type="text" class="form-control" id="token" required
				placeholder="e.g. 10000" ng-model="orgModel.token"/> <label>Total Number of Tokens</label>
		</div>
		</div>
		<div class="col-sm-6">
					<h2>Contributors <img tooltip="help message" alt="help" src="/contentScript/app/images/icon_help.png"/></h2>

					<ul class="media-list">
						<li ng-repeat="contributer in orgModel.contributers" class="{{contributer.className}}" ng-click="clickContributer(contributer.contributer_id)">
							<div class="media-left media-middle">
								<a href="#">
									<img class="media-object" src="{{contributer.img}}" alt=""/>
								</a>
							</div>

							<div class="media-body">
								<h4 class="media-heading">{{contributer.contributer_name}}</h4>

								<p>{{contributer.contributer_fullname}}</p>

								<div id="slider{{contributer.contributer_id}}" ui-slider="rangeSlider.options"
									 class="contribution-slider"
									 ng-disabled ="contributer.contributer_id == '0'"
									 ng-model="contributer.contribution1"
									 ng-change="changeContribution(contributer.contributer_id,'')"></div>
							</div>

							<div class="media-right media-middle">
								<span  id="{{contributer.contributer_id}}" ng-change="changePercentage(contributer.contributer_id,contributer.contributer_percentage)" ng-model="contributer.contributer_percentage" class="contribution-percentage" contenteditable>{{contributer.contributer_percentage}}</span>%
								<button type="submit" class="btn btn-default" aria-label="Left Align" ng-click='removeCollaboratorItem(contributer.contributer_id,$index)'>
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</button>
							</div>
						</li>
					</ul>

					<ui-select style="width:96%" search-enabled="false"
							   ng-model='selectedContributerId'
							   ng-change="updateContributer($select.selected.id)">
						<ui-select-match placeholder="Add Contributor"></ui-select-match>
						<ui-select-choices repeat="user in updatedUsersList">
							<div ng-bind-html="formatSelectUser(user)"></div>
						</ui-select-choices>
					</ui-select>

				</div>
		
	</div>
	</form>
</div>

<div class="modal-footer">
	<div class="row">
		<div class="col-sm-12">
			<button type="submit"
				class="btn btn-backfeed submit-button center-block"
				ng-disabled="!orgModel.token_name  || !orgModel.code || !orgModel.token || validationFailure || buttonDisabled"
				ng-click="submit()">Create Backfeed Holon</button>
		</div>
	</div>
</div>


</script>