<div class="container profile">
    <div class="row">
		<div class="col-sm-3">
		  <div class="panel panel-default">
		    <div class="panel-body">
				<div class="form-group">
		          <label class="control-label">Sort By:</label>
				   <select id="sort" ng-model="orderProp" >
		          		<option value="name">Name</option>
		          		<option value="token_name">Token Name</option>
		        	</select>
		        </div>
		      <div class="form-group">
		          <label class="control-label">Search:</label>
				   <input id="search"  type="text" ng-model="searchField" class="form-control" >
		        </div>
		    </div>
		  </div>
		</div>		
		<div class="col-sm-9">
		 
		      	<div ng-repeat="org in organizations |  orderBy:orderProp :reverse | filter:searchField">
			        <div class="panel"  style="cursor:pointer">
						<div class="panel-body">
							<div class="form-group">
					          <label class="control-label">Name:</label>
							   {{org.name}}
					        </div>					        
					        <div class="form-group">
					          <label class="control-label">Token Name:</label>
							   {{org.token_name}}
					        </div>					        
						  </div>
			        </div>
			      </div>
		    </div>
		  
	</div>
</div>