<div class="container profile">
    <div class="row">
		<div class="col-sm-10">
		  
			<div class="panel panel-default">
			    <div class="panel-heading">My Profile</div>
			    <div class="panel-body">
				  <legend><i class="ion-person"></i> Name: {{user.displayName}}</legend>
				  <legend><i class="ion-aperture"></i> Tokens: {{user.tokens}}</legend>
				  <legend><i class="ion-ribbon-b"></i> Reputation: {{user.reputation}}</legend>
				  <legend><i class="ion-ribbon-b"></i> Slack ID: {{user.slackUserId}}</legend>
			     
			    </div>
            </div>
        </div>
    </div>
</div>

