<div class="container profile">
    <div class="row">
		<div class="col-sm-3">
		  <div class="panel panel-default">
		    <div class="panel-body">
				<div class="form-group">
		          <label class="control-label">Sort By:</label>
				   <select id="sort" ng-model="orderProp" >
		          		<option value="name">Full Name</option>
		          		<option value="reputation">Reputation</option>
		          		<option value="tokens">Tokens</option>
		        	</select>
		        </div>
		      <form method="post" ng-submit="updateProfile()">
		        <div class="form-group">
		          <label class="control-label">Search:</label>
				   <input id="search"  type="text" ng-model="searchField" class="form-control" >
		        </div>
		      </form>
		    </div>
		  </div>
		</div>		
		<div class="col-sm-9">
		 
		      	<div ng-repeat="user in users |  orderBy:orderProp :reverse | filter:searchField">
			        <div class="panel" ng-click="getUser(user)" style="cursor:pointer">
						<div class="panel-body">
							<div class="form-group">
					          <label class="control-label">Name:</label>
							   {{user.name}}
					        </div>					        
					        <div class="form-group">
					          <label class="control-label">Tokens:</label>
							   {{user.tokens}}
					        </div>
					        <div class="form-group">
					          <label class="control-label">Reputation:</label>
							   {{user.reputation}}
					        </div>
						  </div>
			        </div>
			      </div>
		    </div>
		  
	</div>
</div>