<script type="text/ng-template" id="MemberStatusModalTmpl">
<div class="modal-header">
	<img alt="Close modal" class="close" src="/contentScript/app/images/close_x.png" ng-click="closeModal()" />
	<h4 class="modal-title">Your Stats</h4>
</div>
<div class="modal-body">
	<form>

		<div class="row">
			<div class="col-sm-12">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/contentScript/app/images/avatar.png" alt="" style="width: 50px;" />
						</a>
					</div>
					<div class="media-body">
						<h2 class="media-heading">Jen Stephens</h2>
						<span class="hashtag">#</span>Jane
					</div>
				</div>
			</div>
		</div>

		<div class="member-stats">
			<div class="member-stat">
				<img class="member-stat-icon" alt="Contribution" src="/contentScript/app/images/contribution.png" />
				<div>
					<div class="member-stat-data">12</div>
					<div>Contributions&nbsp;<img tooltip="help message" alt="help" src="/contentScript/app/images/icon_help.png"/></div>
				</div>
			</div>
			<div class="member-stat">
				<img class="member-stat-icon" alt="Tokens" src="/contentScript/app/images/tokens.png" />
				<div>
					<div class="member-stat-data">3400</div>
					<div>Tokens&nbsp;<img tooltip="help message" alt="help" src="/contentScript/app/images/icon_help.png"/></div>
				</div>
			</div>
			<div class="member-stat">
				<img class="member-stat-icon" alt="Reputation" src="/contentScript/app/images/rep.png" />
				<div>
					<div class="member-stat-data">320&nbsp;<small>67%</small></div>
					<div>Reputation&nbsp;<img tooltip="help message" alt="help" src="/contentScript/app/images/icon_help.png"/></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<table class="table table-condensed table-hover">
					<thead>
					<tr>
						<td>
							<a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
								Contribution
								<span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
							</a>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'date'; sortReverse = !sortReverse">
								Date
								<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
							</a>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'rep_percent'; sortReverse = !sortReverse">
								Rep %
								<span ng-show="sortType == 'rep_percent' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'rep_percent' && sortReverse" class="fa fa-caret-up"></span>
							</a>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'current_value'; sortReverse = !sortReverse">
								Current Value
								<span ng-show="sortType == 'current_value' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'current_value' && sortReverse" class="fa fa-caret-up"></span>
							</a>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'my_rep'; sortReverse = !sortReverse">
								My Rep
								<span ng-show="sortType == 'my_rep' && !sortReverse" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'my_rep' && sortReverse" class="fa fa-caret-up"></span>
							</a>
						</td>
					</tr>
					</thead>

					<tbody>
						<tr ng-repeat="bid in memberStatusModel.bids | orderBy:sortType:sortReverse">
							<td>bid.contribution_name</td>
							<td>bid.time_created</td>
							<td>bid.reputation_percent</td>
							<td>bid.current_value</td>
							<td>bid.my_rep</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>

	<div class="modal-footer">
		<div class="row"></div>		
	</div>
</div>
		</script>