<div class="choose-contributors">
  <div class="error" ng-hide="ctrl.getTotalSum() == 100">Total value must be 100%!</div>
  <ul class="media-list">
    <li ng-repeat="contributor in ctrl.contributors"
        class="chosen clearfix relative">
      <img class="chosen-image pull-left" ng-src="{{ contributor.imgUrl }}" alt="" />
      
      <div class="pull-left">
        <h4 class="chosen-name">{{ contributor.name }}</h4>
        <p class="chosen-fullname">{{ contributor.real_name }}</p>
      </div>
  
      <div class="chosen-percentage">
        <span ng-model="contributor.percentage"
              class="chosen-percentage-number"
              id="{{ contributor.id }}"
              contenteditable>{{ contributor.percentage | number:0 }}</span>%        
      </div>

      <button type="button" class="icon-button" aria-label="Left Align" ng-click='ctrl.removeContributor($index)'>
        <img src="/extension/contentScript/app/images/icon_remove.png"/>
      </button>
    </li>
  </ul>

  <ui-select style="width:96%"
             reset-search-input="true"
             ng-model="ctrl.selectedContributerId"
             on-select="ctrl.addContributor($select.selected)">

    <ui-select-match placeholder="Add Contributor"></ui-select-match>

    <ui-select-choices repeat="user in ctrl.usersToSelectFrom"
                       refresh="ctrl.refreshUsersToSelectFrom($select.search)"
                       refresh-delay="50">

      <div class='select-contributor flex'>
        <img ng-src="{{ user.imgUrl }}" />
        <div>{{ user.name }}<br />
        {{ user.real_name }}</div>
      </div>

    </ui-select-choices>
  </ui-select>
  
</div>