<script type="text/ng-template" id="ContributionsModalTmpl">

  <div class="modal-header">
    <img alt="Close modal" class="close-modal" src="/extension/contentScript/app/images/close_x.png" ng-click="ctrl.closeModal()" />
    <div class="modal-title" ng-if="!ctrl.contribution.id">Submit a Contribution</div>
	<div class="modal-title" ng-if="ctrl.contribution.id">Save Contribution</div>
  </div>

  <div id="contribution-modal" class="modal-body">
    <form>
      <section>

        <div>
          <h3 id="createContributionModalTitle">Contribution&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img alt="help" 
               src="/extension/contentScript/app/images/icon_help.png"
               tooltip-placement="right"
               tooltip="Contributions are anything that can potentially provide value to a project. When the team decides the contribution is valuable, new Tokens and Reputation are generated and divided between the contributors. Consult your project's guidelines for what makes a good contribution." />
        </h3>

          <div class="form-group">
            <input type="text" class="form-control" maxlength="340" id="title" required placeholder="Name of the new contribution" ng-model="ctrl.contribution.title" />
            <label>Title</label>
          </div>

          <div class="form-group">
            <textarea class="form-control" ng-model="ctrl.contribution.description" id="content" required rows="5" placeholder="Describe the contribution to the team. Add links to relevant resources."></textarea>
            <label>Content</label>
          </div>

          <div>
            <h3>Contributors
              <img alt="help" 
                   src="/extension/contentScript/app/images/icon_help.png"
                   tooltip-placement="right"
                   tooltip="The worth of this contribution in Tokens and Reputation will be divided between all the listed contributors. Make sure all contributors agree on this division before submitting the contribution." />

            <select-contributors contributors="ctrl.contribution.contributors"
                       contributors-valid="ctrl.contributorsValid"></select-contributors>
            </h3>
          </div>

      </section>
    </form>
    </div>

    <hr />

    <div class="modal-footer flex">
      <p class="lead">Contributions are the only way to generate new tokens and reputation.</p>
      <button ng-if="ctrl.contribution.id" class="btn btn-backfeed submit-button" ng-click="ctrl.submit()" ng-disabled="!ctrl.contribution.title ||
                           !ctrl.contribution.description ||
                           !ctrl.contributorsValid">Save Contribution</button>
<button ng-if="!ctrl.contribution.id" class="btn btn-backfeed submit-button" ng-click="ctrl.submit()" ng-disabled="!ctrl.contribution.title ||
                           !ctrl.contribution.description ||
                           !ctrl.contributorsValid">Submit Contribution</button>
    </div>

</script>