<script type="text/ng-template" id="ContributionsModalTmpl">
	<div class="modal-header">
		<img alt="help" src="/contentScript/app/images/close_x.png" ng-click="closeModal()" />
	</div>

	<div class="modal-body">
		<form>

			<div class="row">

				<div class="col-sm-6">

					<h2 id="createContributionModalTitle">New Value <img alt="help" src="/contentScript/app/images/icon_help.png"/></h2>

					<div class="form-group">
						<input type="text"
							   class="form-control"
							   id="title"
							   required
							   placeholder="Name of the new value"
							   ng-model="model.title"/>
						<label>Title</label>
					</div>

					<div class="form-group">
						<textarea class="form-control"
								  id="content"
								  required
								  rows="5"
								  placeholder="tell us more..."
								  ng-model="model.file"></textarea>
						<label>Content</label>
					</div>

				</div>

				<div class="col-sm-6">

					<h2>Contributors <img alt="help" src="/contentScript/app/images/icon_help.png"/></h2>

					<ul ng-repeat="contributer in model.contributers" class="media-list">
						<li class="media contributer-cell">
							<div class="media-left media-middle">
								<a href="#">
									<img class="media-object" src="{{contributer.img}}" alt=""/>
								</a>
							</div>

							<div class="media-body">
								<h4 class="media-heading">{{contributer.contributer_name}}</h4>

								<p>{{contributer.contributer_fullname}}</p>

								<input class="contribution-slider" data-rangeslider type="range" min="0" max="100" step="1"
									  ng-disabled ="contributer.contributer_id == '0'"
									   ng-model="contributer.contribution1"
									   ng-change="changeContribution(contributer.contributer_id,'')"/>
							</div>

							<div class="media-right media-middle"><span contenteditable>{{contributer.contributer_percentage}}</span>%</div>
<div class = 'class="media-right media-middle"'>			
							
								
							</div>
						</li>
					</ul>

					<ui-select style="width:96%" search-enabled="false"
							   ng-model='selectedContributerId'
							   ng-change="updateContributer($select.selected.id)">
						<ui-select-match placeholder="Add Contributor"></ui-select-match>
						<ui-select-choices repeat="user in updatedUsersList">
							<div ng-bind-html="formatSelectUser(user)"></div>
						</ui-select-choices>
					</ui-select>

				</div>

			</div>

		</form>
	</div>

	<div class="modal-footer">
		<div class="row">
			<div class="col-sm-6">
				<p class="lead">Adding Value is the best...</p>
			</div>
			<div class="col-sm-6">
				<button type="submit"
						class="btn btn-backfeed submit-button center-block"
						ng-disabled="!model.title || buttonDisabled"
						ng-click="onSubmit()">Add Value</button>
			</div>
		</div>
	</div>
</script>