<script type="text/ng-template" id="OrganizationsModalTmpl">
		
<div class="modal-header">
	<img alt="Close modal" class="close-modal" src="/extension/contentScript/app/images/close_x.png" ng-click="closeModal()" />
</div>

<div class="modal-body">
	<form>
	<div class="row">

		<div class="col-sm-6">
			<p>Welcome {{userData.displayName}},</p>
			<h2>Let's create a new team</h2>
			<p>
				You are the first of your team to log on using the extension.<br />
				From now on value and reputation will be distributed to each member of the team according to her contribution.<br />
				But first, let's set up the backfeed experience!<br />
				Name the coin to be used to measure relative contributions and choose a symbol for it.<br />
				Using the coin, evaluate the whole work that has been done so far (future contributions should be evaluated relatively to it).<br />
				Finally choose a name for a Slack channel in which our bot will post all contribution notifications.
			</p>

			<div class="form-group">
				<input type="text" class="form-control" id="tokenName" required
					placeholder="e.g. Pig Coins" ng-model="orgModel.token_name"
					 /> <label>Name</label>
			</div>

			<div class="form-group">
				<input type="text" class="form-control" id="tokenCode" required
					placeholder="PiC" ng-model="orgModel.code"/> <label>Code</label>
			</div>

			<div class="form-group">
				<input type="text" class="form-control" id="token" required
					placeholder="e.g. 10000" ng-model="orgModel.token"/> <label>Total Number of Tokens</label>
			</div>
					<div class="media-body">
						<h4 class="media-heading">How fast do you want to pass on the responsibility over the project to new contributers ?</h4>
						<div id="sliderPassingResponsbility" ui-slider="rangeSlider.options"
							 class="contribution-slider"
							 ng-model="orgModel.a">
						</div>
						<br/>
						<span id="spanPassingResponsbility"
							  ng-model="orgModel.a"
							  class="contribution-percentage"
							  >{{orgModel.a}}%
						</span>
					</div>
						<br/>
					<div class="media-body">
						<h4 class="media-heading">what would you conside as a "similiar evaluation" of contributions ?</h4>
						<div id="sliderConsideration" ui-slider="rangeSlider.options"
							 class="contribution-slider"
							 ng-model="orgModel.b">
						</div>
						<br/>
						<span id="spanConsideration"
							  ng-model="orgModel.b"
							  class="contribution-percentage"
							  >{{orgModel.b}}%
						</span>
					</div>	
			</div>
		<div class="col-sm-6">
			<h2>Contributors <img tooltip="We need your input. please specify each member of the team that has contributed so far, and the relative weight of her contribution." alt="help" src="/extension/contentScript/app/images/icon_help.png"/></h2>

			<ul class="media-list">
				<li ng-repeat="contributer in orgModel.contributers" class="{{contributer.className}}" ng-click="clickContributer(contributer.contributer_id)">
					<div class="media-left media-middle">
						<a href="#">
							<img class="media-object" ng-src="{{contributer.img}}" alt=""/>
						</a>
					</div>

					<div class="media-body">
						<h4 class="media-heading">{{contributer.contributer_name}}</h4>

						<p>{{contributer.contributer_fullname}}</p>

						<div id="slider{{contributer.contributer_id}}" ui-slider="rangeSlider.options"
							 class="contribution-slider"
							 ng-disabled ="contributer.contributer_id == '0'"
							 ng-model="contributer.contribution1"
							 ng-change="changeContribution(contributer.contributer_id,'')"></div>
					</div>

					<div class="media-right media-middle">
						<span id="{{contributer.contributer_id}}"
							  ng-change="changePercentage(contributer.contributer_id,contributer.contributer_percentage)"
							  ng-model="contributer.contributer_percentage"
							  class="contribution-percentage"
							  contenteditable>{{contributer.contributer_percentage | number:0}}</span>%
						<button type="submit" class="icon-button" aria-label="Left Align" ng-click='removeCollaboratorItem(contributer.contributer_id,$index)'>
							<img src="/extension/contentScript/app/images/trash-bin.png"/>
						</button>
					</div>
				</li>

			</ul>

			<ui-select style="width:96%" search-enabled="false"
					   ng-model='selectedContributerId'
					   on-select="updateContributer($select.selected.id)">
				<ui-select-match placeholder="Add Contributor"></ui-select-match>
				<ui-select-choices repeat="user in updatedUsersList">
					<div ng-bind-html="formatSelectUser(user)"></div>
				</ui-select-choices>
			</ui-select>
		</div>
		
	</div>
	</form>
</div>

<div class="modal-footer">
	<div class="row">
		<div class="col-sm-12">
			<button type="submit"
				class="btn btn-backfeed submit-button center-block"
				ng-disabled="!orgModel.token_name  || !orgModel.code || !orgModel.token || validationFailure || buttonDisabled"
				ng-click="submit()">Create Team</button>
		</div>
	</div>
</div>




</script>