<script type="text/ng-template" id="ProjectsModalTmpl">
		
<div class="modal-header">
	<img alt="Close modal" class="close-modal" src="/extension/contentScript/app/images/close_x.png" ng-click="closeModal()" />
	<div class="modal-title">Lets Create a New Project!</div>
</div>

<div id="project-modal" class="modal-body">
	<form>
	<div class="row">

		<div class="col-sm-4">
			<!--TODO: somehow populate `channelName` before evaluating this expression-->
			<h3>{{projectModel.channelName}}</h3>
			<p>Welcome <span class="text-primary">{{userData.displayName}}</span>, you will be submitting the founders contribution to this channel.</p>
			<p>Make sure you have discussed this action thoroughly with all other founding contributors. This action cannot be undone.</p>
			<p>Once you created the team, members would be able to submit contributions and be awarded for them using <strong>Tokens</strong> and <strong>Reputation</strong>.</p>
			<p class="text-muted">Let's set up the Backfeed experience!</p>
		</div>

		<div class="col-sm-4">
			<h4>General Settings</h4>
			<div class="form-group">
				<input class="form-control" id="tokenName" required
					placeholder="e.g. Bitcoin" ng-model="projectModel.token_name" />
				<label>Name the token to be used to measure contributions</label>
			</div>

			<div class="form-group">
				<input class="form-control" id="tokenCode" required
					placeholder="e.g. BTC" ng-model="projectModel.code" />
				<label>Choose a symbol for your token</label>
			</div>

			<div class="form-group">
				<div class="input-group">
					<input class="form-control" id="token" required
						   placeholder="e.g. 21,000,000" ng-model="projectModel.token" />
					<div class="input-group-addon">{{projectModel.code}}</div>
				</div>
				<label>Evaluate the founding contribution</label>
			</div>

			<hr />

			<h4>Reputation Flow&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img tooltip=" " alt="help" src="/extension/contentScript/app/images/icon_help.png"/></h4>

			<div class="protocol-parameter">
				<label>How fast do you want to pass on the responsibility over the project to new contributers ?
					<img tooltip="test" alt="help" src="/extension/contentScript/app/images/icon_help.png">
				</label>
				<div id="sliderPassingResponsibility" ui-slider="rangeSlider.options"
					 class="protocol-slider"
					 ng-model="projectModel.a">
				</div>
				<div class="protocol-parameter-labels">
					<div class="protocol-parameter-label">
						<img tooltip="test" alt="help" src="/extension/contentScript/app/images/icon_help.png">
						<span>+-10%</span>
					</div>
					<div class="protocol-parameter-label">
						<img tooltip="test" alt="help" src="/extension/contentScript/app/images/icon_help.png">
						<span>+-100%</span>
					</div>
					<div class="protocol-parameter-label">
						<img tooltip="test" alt="help" src="/extension/contentScript/app/images/icon_help.png">
						<span>+-1000%</span>
					</div>
				</div>
			</div>

			<br/>

			<div class="protocol-parameter">
				<label>what would you consider as a "similar evaluation" of contributions?
					<img tooltip="test" alt="help" src="/extension/contentScript/app/images/icon_help.png">
				</label>
				<div id="sliderConsideration" ui-slider="rangeSlider.options"
					 class="protocol-slider"
					 ng-model="projectModel.b">
				</div>
				<div class="protocol-parameter-labels">
					<div class="protocol-parameter-label">
						<img tooltip="test" alt="help" src="/extension/contentScript/app/images/icon_help.png">
						<span>+-10%</span>
					</div>
					<div class="protocol-parameter-label">
						<img tooltip="test" alt="help" src="/extension/contentScript/app/images/icon_help.png">
						<span>+-100%</span>
					</div>
					<div class="protocol-parameter-label">
						<img tooltip="test" alt="help" src="/extension/contentScript/app/images/icon_help.png">
					<span>+-1000%</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<h4>Founding Contributors <img tooltip="We need your input. please specify each member of the project that has contributed so far, and the relative weight of her contribution." alt="help" src="/extension/contentScript/app/images/icon_help.png"/></h4>
			<p>How much did each member contribute to founding this project until today?</p>

			<ul class="media-list">
				<li ng-repeat="contributer in projectModel.contributers" class="{{contributer.className}}" ng-click="clickContributer(contributer.contributer_id)">
					<div class="contributer-cell">
						<div class="contributor-info">
							<img class="contributor-image" ng-src="{{contributer.img}}" alt="">
							<div>
								<p class="contributor-name">{{contributer.contributer_name}}</p>
								<p class="contributor-fullname">{{contributer.contributer_fullname}}</p>
							</div>
						</div>
						<div class="contributor-percentage">
							<span id="{{contributer.contributer_id}}"
								  ng-change="changePercentage(contributer.contributer_id,contributer.contributer_percentage)"
								  ng-model="contributer.contributer_percentage"
								  class="contributor-percentage-number"
								  contenteditable>{{contributer.contributer_percentage | number:0}}</span>%
						</div>
					</div>

					<img class="icon-remove-contributer" ng-click='removeCollaboratorItem(contributer.contributer_id,$index)' src="/extension/contentScript/app/images/icon_remove.png" />

					<div id="slider{{contributer.contributer_id}}" ui-slider="rangeSlider.options"
						 class="contributor-slider"
						 ng-disabled ="contributer.contributer_id == '0'"
						 ng-model="contributer.contribution1"
						 ng-change="changeContribution(contributer.contributer_id,'')"></div>
				</li>

			</ul>

			<ui-select style="width:96%" search-enabled="false"
					   ng-model='selectedContributerId'
					   on-select="updateContributer($select.selected.id)">
				<ui-select-match placeholder="Add Contributor"></ui-select-match>
				<ui-select-choices repeat="user in updatedUsersList">
					<div ng-bind-html="formatSelectUser(user)"></div>
				</ui-select-choices>
			</ui-select>

		</div>
		
	</div>
	</form>
</div>

<hr />

<div class="modal-footer">
	<div class="row">
		<div class="col-sm-12">
			<button type="submit"
				class="btn btn-backfeed submit-button center-block"
				ng-disabled="!projectModel.token_name  || !projectModel.code || !projectModel.token || buttonDisabled"
				ng-click="submit()">Create a Project</button>
		</div>
	</div>
</div>

</script>