<script type="text/ng-template" id="ProjectsModalTmpl">
		
<div class="modal-header">
	<img alt="Close modal" class="close-modal" src="/extension/contentScript/app/images/close_x.png" ng-click="closeModal()" />
	<div class="modal-title">Let's Create a New Project!</div>
</div>

<div id="project-modal" class="modal-body">
	<form>
	<section>

		<div>
			<h1 class="modal-heading"><svg-icon icon="big-slack"></svg-icon>&nbsp;{{ ctrl.channelName }}</h1>

			<p>Welcome, <span class="text-primary">{{ ctrl.currentUser.displayName }}.</span></p>

			<p>You are submitting the founders' contribution to this channel.</p>

			<p>Make sure you have discussed this action thoroughly with all the other founders. This action cannot be undone.</p>

			<p>Once you created the project, team members will be able to submit contributions and be rewarded with <strong>Tokens</strong> and <strong>Reputation</strong>.</p>
			<p><strong>Let's get started.</strong></p>

			<hr />

			<div class="form-group has-feedback">
				<input class="form-control"
							 id="tokenName"
							 type="text"
							 required
							 maxlength="60"
					   	 placeholder="e.g. Bitcoin"
					   	 ng-model="ctrl.project.token_name" />
				<img alt="help" src="/extension/contentScript/app/images/icon_help.png" class="form-control-feedback"
					 tooltip="Each project uses its own tokens in order to distribute its value between the project members."
					 tooltip-placement="right" />
				<label>Name this project's tokens</label>
			</div>

			<div class="form-group">
				<input class="form-control"
							 id="tokenCode"
							 type="text"
							 required 
							 maxlength="3"
							 strip-whitespace
					   	 placeholder="e.g. BTC"
					   	 ng-model="ctrl.project.code" />
				<label>Choose a 3-letter symbol for your token</label>
			</div>

			<div class="form-group has-feedback">
				<div class="input-group">
					<div class="input-group-addon">{{ ctrl.project.code }}</div>
					<input class="form-control"
						   id="token"
						   type="number"
						   enforce-integers
						   min="1"
						   required
						   placeholder="e.g. 21000"
						   ng-model="ctrl.project.initialTokens" />
					<img alt="help" src="/extension/contentScript/app/images/icon_help.png" class="form-control-feedback"
						 tooltip="Make sure all the founding members discussed this amount and decided how to evaluate all the work they have done prior to this moment."
						 tooltip-placement="right" />
				</div>
				<label>Decide how many tokens will be distributed to the founding members</label>
			</div>
		</div>

		<div>
			<h4>Reputation Flow&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img tooltip-placement="bottom" tooltip="When members of a project evaluate a contribution, reputation flows between members who evaluated similarly, from those who evaluated late to those who evaluated early. Thus, members who were the first to successfully estimate at how much other members will evaluate a contribution will gain reputation on the account of those who evaluate after them." alt="help" src="/extension/contentScript/app/images/icon_help.png"/></h4>

			<div class="protocol-parameter">
				<label>What would you consider to be a similar evaluation?
					<img alt="help" src="/extension/contentScript/app/images/icon_help.png"
						 tooltip="How similar similar does an evaluation need to be considered similar? Are 100 and 110 similar, with a 10% difference? Are 100 and 1000 similar, with a 1000% difference? If you can't estimate the range of evaluations, leave the bar on its default value."
						 tooltip-placement="bottom" />
				</label>
				<div class="protocol-slider-wrapper">
					<div id="sliderConsideration" ui-slider="ctrl.rangeSlider"
						 class="protocol-slider"
						 ng-model="ctrl.project.similarEvaluationRate">
					</div>
					<div class="protocol-parameter-labels">
						<div class="protocol-parameter-label">
							<span>+-10%</span>
						</div>
						<div class="protocol-parameter-label">
							<span>+-100%</span>
						</div>
						<div class="protocol-parameter-label">
							<span>+-1000%</span>
						</div>
					</div>
				</div>
			</div>

			<br/>

			<div class="protocol-parameter">
				<label>How fast will responsibility over this project flow from the founders to new contributors?
					<img alt="help" src="/extension/contentScript/app/images/icon_help.png"
						 tooltip="The founding contribution less or more reputation proportionally to the other contributions in a project, which means that the new reputation generated by contributions will be appropriately more or less significant, respectively. The 'Slow' option leaves the control of the project in the hands of the founders for a longer time, while the 'Fast' option quickly hands over the control to those willing to get involved and contribute."
						 tooltip-placement="bottom" />
				</label>
				<div class="protocol-slider-wrapper">
					<div id="sliderPassingResponsibility" ui-slider="ctrl.rangeSlider"
						 class="protocol-slider"
						 ng-model="ctrl.project.passingResponsibilityRate">
					</div>
					<div class="protocol-parameter-labels">
						<div class="protocol-parameter-label">
							<img tooltip="The founders will hold 50% of the reputation after contributions valued at 1/10 the founding contribution were submitted" alt="help" src="/extension/contentScript/app/images/icon_help.png">
							<span>Slow</span>
						</div>
						<div class="protocol-parameter-label">
							<img tooltip="The founders will hold 50% of the reputation after contributions with the same collective value as the founding contribution were submitted" alt="help" src="/extension/contentScript/app/images/icon_help.png">
							<span>Normal</span>
						</div>
						<div class="protocol-parameter-label">
							<img tooltip="The founders will hold 50% of the reputation after contributions valued at 10 times the founding contribution were submitted" alt="help" src="/extension/contentScript/app/images/icon_help.png">
							<span>Fast</span>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div>
			<h4>Founding Members</h4>
			<p>How much did each founder contribute to this project so far?</p>

			<select-contributors contributors="ctrl.project.contributors"
													 contributors-valid="ctrl.contributorsValid"></select-contributors>

		</div>
		
	</section>
	</form>
</div>

<hr />

<div class="modal-footer">
	<div class="row">
		<div class="col-sm-12">
			<button type="submit"
					class="btn btn-backfeed submit-button center-block"
					ng-click="ctrl.submit()"
					ng-disabled="ctrl.isProcessing ||
											!ctrl.project.token_name  ||
                      !ctrl.project.code ||
                      !ctrl.project.initialTokens ||
                      !ctrl.contributorsValid">
                      Create the {{ ctrl.channelName }} Project</button>
		</div>
	</div>
</div>

</script>