<div class="container ">
    <div class="row">
		<div class="col-sm-12">
			<form class="form-horizontal" ng-controller="ContributionStatusCtrl"
				role="form">
			<div class="panel panel-default">
			    <div class="panel-heading">Contribution - Status</div>
			    <div class="panel-body">
				  <div class="row">
						<div class="col-sm-3">
					  <legend><i class="ion-person"></i> Current Valuation: {{cotributionStatusModel.currentValuation}}</legend>
					  <legend><i class="ion-aperture"></i> Total Reputation: {{cotributionStatusModel.totalReputaion}}</legend>
					  <legend><i class="ion-ribbon-b"></i> My Valuation: {{cotributionStatusModel.myValuation}}</legend>
				      <legend><i class="ion-clipboard"></i> My Reputation: {{cotributionStatusModel.myReputaion}}</legend>
			  				</div>
					<div class="col-sm-9">
					<img src="/images/statPlaceHolder.png" class = "" ></img>
				
					</div>
				</div>
			    </div>
			  </div>
			  </form>
			</div>
			
  		</div>
	</div>