<div class="container profile">
	<div class="row">
		<div class="col-sm-10">
			
			
				<div class="panel panel-default">

					<div class="panel-body">
						 <legend> {{title}} , is being evaluated</legend>
						<form class="form-horizontal " ng-controller="BidsCtrl" ng-cloak
							role="form">
						
							<div class="form-group"> <div class="controls form-inline"> &nbsp;&nbsp;<input
									type="text" class="form-control" id="token" placeholder="talk to me in numbers"
									ng-model="bid.tokens" required size = 40>&nbsp;{{tokenName}}	</div>				

							</div>
							<div align="center" ><button type="submit" class="btn btn-warning submit-button" ng-disabled="!bid.tokens" ng-click="submit()">Backfeed</button></div>
						</form>
					</div>
				</div>
		</div>
	</div>
</div>